{% load i18n %}

{% block content %}
{% trans "New participant in Dr. Scratch!"%}

{% trans "You're receiving this email because you have successfully signed up in Dr. Scratch tournaments."%}
{% trans "Please, go to the following page and choose a new password to access Dr. Scratch tournaments:"%}
http://torneosdrscratch01.azurewebsites.net{% url 'reset_password_tournaments' uidb64=uid token=token %}
{% trans "Your username is: " %}{{id}}
{% block reset_link %}
{% endblock %}

{% trans "Thanks for using our website!"%}
{% trans "The Dr. Scratch team"%}

{% endblock %}
